@page "/AddEmployee"
@using Microsoft.AspNetCore.Components
@using BlazorSep3.model
@using BlazorSep3.Authentication
@using BlazorSep3.Data
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IServiceUser _serviceUser;


<h3>AddEmployee</h3>
<div class="main">
        <div class="form-Contanier">
            <div class="header">
                <span> Add Employee </span>
                <br/> <span class="error">@errorMessage</span>
            </div>
            <div class="form-field">
                <div>
                    <label class="FirstName">
                        <span class="oi oi-person"/> First Name
                    </label>
                </div>
                <div>
                    <input placeholder="First Name" @bind="@profile.FirstName"/>
                </div>
            </div>
            <div class="form-field">
                <div>
                    <label class="LastName">
                        <span class="oi oi-pencil"/> Last Name
                    </label>
                </div>
                <div>
                    <input placeholder="Last Name" @bind="profile.LastName"/>
                </div>
            </div>
            <div class="form-field">
                <div>
                    <label class="Birthday">
                        <span class="oi oi-calendar"/> Birthday
                    </label>
                </div>
                <div>
                    <input type="date" placeholder="Birthday" @bind="profile.Birthday"/>
                </div>    
            </div>
            <div class="form-field">
                <div>
                    <label class="Specialities">
                        <span class="oi-magnifying-glass"/> Specialities 
                    </label>
                </div>
                <div>
                    <select placeholder="Specialities" @bind="profile.Specialities">
                    @foreach (var speciality in Enum.GetValues(typeof(Specialities)))
                        {
                            <option value="@speciality">@speciality</option>
                        }
                    </select>
                </div>    
            </div>
            <div class="form-field">
                <div>
                    <label class="Role">
                        <span class="oi oi-person"/> Role
                    </label>
                </div>
                <div>
                    <select rows="1" @bind="profile.Role">
                        <option value="FullTimeEmployee">Full-Time Employee</option>
                        <option value="PartTimeEmployee">Part-time Employee</option>
                    </select>
                </div>
            </div>
            <div class="form-field footer">
                <div>
                    <button class="btn btn-success" type="submit" @onclick="PerformRegister">Register</button>
                </div>
            </div>
        </div>
</div>





@code {

    [CascadingParameter]
    public MainLayout Layout { get; set; }
    private string errorMessage;
    private Profile profile = new Profile();

    public async Task PerformRegister()
    {
        try
        {
            await ((CustomAuthenticationStateProvider) AuthenticationStateProvider).Register(profile);
            errorMessage = "Employee has been registered";
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            errorMessage = e.Message;
        }
    }

}