@page "/Login"
@using System
@using System.Threading.Tasks
@using BlazorSep3.Data
@using BlazorSep3.Authentication
@using BlazorSep3.Shared
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavgMan
@inject IServiceUser _serviceUser;

   <div class="form">
       <div class="form-header">
           <h2>
               Login
           </h2>
       </div>
       <div>
           <span class="error-message">@errorMessage</span>
       </div>
   
       <div class="form__group">
           <input type="text" class="form__input" placeholder="Username" @bind="@username" >
           <label for="name" class="form__label">Username</label>
       </div>
   
       <div class="form__group">
           <input type="password" class="form__input" placeholder="Password"  @bind="@password">
           <label class="form__label">Password</label>
       </div>
   
       <div class="form__group">
           <button class="button-white" type="submit"  @onclick="PerformLogin">Login</button>
       </div>
   </div> 


@code {

    [CascadingParameter]
    public MainLayout Layout { get; set; }

    private string username;
    private string password;
    private string errorMessage;

    private async Task PerformLogin()
    {
        try
        {
            await ((CustomAuthenticationStateProvider) AuthenticationStateProvider).ValidateLogin(username, password);
            NavgMan.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            errorMessage = e.Message;
        }
    }


}