@page "/welcome"
@page "/welcome/{username}"
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Components
@using System
@inject AuthenticationStateProvider TokenProvider;
@inject IHttpClientFactory httpClientFactory;
<div class="main">
    <div class="main_content">

        <AuthorizeView Policy="MustBeAdmin">

            <!-- <h3>Hello: (add the mail thingy) context.User.Identity.Name</h3>
            <h2> You are: (add the mail thingy)context.User.FindFirst(claim => claim.Type.Equals("Role")).Value</h2> -->
            <h3>Hello: @Username</h3>
        </AuthorizeView>
    </div>

    <div class="main_header">
        <h1>Employee Managment System</h1>
    </div>
</div>
@functions {
    // Define a property to contain the parameter passed from the auth page
    [Parameter]
    public string Username { get; set; }
    //[Parameter]
    //private string Role { get; set; }
}

@code {


    protected override async Task OnInitializedAsync()
    {
    }

}