@page "/AddEmployee"
@using Microsoft.AspNetCore.Components
@using BlazorSep3.model
@using BlazorSep3.Data
@using Task = System.Threading.Tasks.Task
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IServiceUser _serviceUser;


<div class="content">
    <EmployeeSideNav/>

    <main class="content-view">

        <div class="form">
            <div class="form-header">
                <h2>
                    Add new profile
                </h2>
            </div>
            <div>
                <span class="error-message">@errorMessage</span>
            </div>

            <div class="form__group">
                <div class="icon">
                    <span class="oi oi-person"/>
                </div>
                <div>
                    <input type="text" class="form__input" placeholder="First name" @bind="@profile.FirstName">
                    <label for="name" class="form__label">First name</label>
                </div>

            </div>

            <div class="form__group">
                <div class="icon">
                    <span class="oi oi-person"/>
                </div>
                <div>
                    <input type="text" class="form__input" placeholder="Last name" @bind="profile.LastName">
                    <label class="form__label">Last name</label>
                </div>

            </div>

            <div class="form__group">
                <div class="icon">
                    <span class="oi oi-calendar"/>
                </div>
                <div>
                    <input type="date" class="form__input" placeholder="Birthday" @bind="profile.Birthday"
                           min="1990-01-01">
                    <label class="form__label">Birthday</label>
                </div>

            </div>

            <div class="form__group">
                <div class="icon">
                    <span class="oi oi-pencil"/>
                </div>
                <div>
                    <select name="specialties" class="form__input_select" @bind="profile.Specialities">
                        @foreach (var speciality in Enum.GetValues(typeof(Specialities)))
                        {
                            <option value="@speciality">@speciality</option>
                        }
                    </select>
                    <label class="form__label">Specialities</label>
                </div>

            </div>

            <div class="form__group">
                <div class="icon">
                    <span class="oi oi-pencil"/>
                </div>
                <div>
                    <select name="role" class="form__input_select" rows="1" @bind="profile.Role">
                        <option value="FullTimeEmployee">Full-Time Employee</option>
                        <option value="PartTimeEmployee">Part-time Employee</option>
                    </select>
                    <label class="form__label">Role</label>
                </div>

            </div>

            <div class="form__group">
                <button class="button-white" type="submit" @onclick="PerformRegister">Add profile</button>
            </div>
        </div>
    </main>
</div>

@code {

    [CascadingParameter]
    public MainLayout Layout { get; set; }

    private string errorMessage;
    private Profile profile = new Profile();

    public async Task PerformRegister()
    {
        try
        {
            await  _serviceUser.RegisterUser(profile);
            errorMessage = "";
            NavigationManager.NavigateTo("/ManageEmployee");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            errorMessage = e.Message;
        }
    }

    protected override void OnInitialized()
    {
        profile.Birthday = new DateTime(1990, 1, 1);
    }


}