.result{
    max-height: 30vh;
    overflow: auto;
}
.modal_foter{
    display: flex;
    justify-content: space-around;
}

.form__input_select {
    font-size: 1.2rem;
    border-radius: 1px;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid transparent;
    width: 20rem;
    display: block;
    transition: all .3s;
    height: 1.7rem;

}
.form__input_select:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #55c57a;
}

.form__input_select_number:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #55c57a;
}

.form__input_select_number:focus:invalid {

    border-bottom: 2px solid #ff7730;
}

.form__input_select_number::-webkit-input-placeholder {
    color: #999;
}

.form__input_select_number {
    font-size: 1.2rem;
    border-radius: 1px;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid transparent;
    width: 10rem;
    display: block;
    transition: all .3s;
    height: 1.7rem;

}
.form__group_title{
    align-self: center;
}
.form__group_title h3{
    color: #059669;
}
.form{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    padding: .5rem 0rem .5rem 0rem;

}

.form_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form__label {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    display: block;
    transition: all .3s;
}

.button-spec {
    text-transform: uppercase;
    padding: 0.4rem 0.3rem;
    border-radius: 40px;
    transition: all, .2s;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: .2rem;
    margin-top: .5rem;
}

.button-spec:hover {
    background-color:#34D399;
    color: #fff;
}


.button-spec {
    background-color:#059669;
    color: #fff;

}