.content[b-zhnvbgz66g] {
    display: flex;
    height: 91vh;
}

/******
Content view 
*******/
header[b-zhnvbgz66g]{
    height: 0.2rem;
}


.content-view[b-zhnvbgz66g] {
    background-color: #fff;
    flex: 1;
}


.form[b-zhnvbgz66g] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    background-color: #F3F4F6;
    padding: 2rem;
    margin-top: 0.2rem;
}
.form__group[b-zhnvbgz66g]{
    display: flex;
    align-items: start;
}
.form__group span[b-zhnvbgz66g]{
    margin-right: 1rem;
}

.form__group:not(:last-child)[b-zhnvbgz66g] {
    margin-bottom: 1rem;
}
.error-message[b-zhnvbgz66g]{
    color: red;
}
.specialty-message-message[b-zhnvbgz66g]{
    color: green;
}

.icon[b-zhnvbgz66g]{
    height: 1rem;
    margin-top: 0.2rem;
}

.form__input[b-zhnvbgz66g] {
    font-size: 1.2rem;
    padding: 1.2rem 1.2rem;
    border-radius: 1.5px;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid transparent;
    width: 30rem;
    display: block;
    transition: all .3s;
    height: 1.7rem;
}
.form__input_select[b-zhnvbgz66g] {
    font-size: 1.2rem;
    border-radius: 1px;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid transparent;
    width: 30rem;
    display: block;
    transition: all .3s;
    height: 1.7rem;

}

.form__input_select:focus[b-zhnvbgz66g] {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #55c57a;
}

.form__input:focus[b-zhnvbgz66g] {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #55c57a;
}

.form__input:focus:invalid[b-zhnvbgz66g] {

    border-bottom: 2px solid #ff7730;
}

.form__input[b-zhnvbgz66g]::-webkit-input-placeholder {
    color: #999;
}


.form__label[b-zhnvbgz66g] {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    display: block;
    transition: all .3s;
}


/*.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}*/


.form-header[b-zhnvbgz66g] {
    justify-self: center;
    margin-bottom: 0.5rem;
}

.form-header h2[b-zhnvbgz66g]{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2rem;
}


.button-white[b-zhnvbgz66g] {
    text-transform: uppercase;
    padding: .4rem 2rem;
    margin-left: 2rem;
    border-radius: 100px;
    transition: all, .2s;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .2rem;
}


.button-white:hover[b-zhnvbgz66g] {
    background-color:#34D399;
    color: #fff;
}


.button-white[b-zhnvbgz66g] {
    background-color:#059669;
    color: #fff;

}

.button-spec[b-zhnvbgz66g] {
    text-transform: uppercase;
    padding: 0.4rem 0.3rem;
    border-radius: 40px;
    transition: all, .2s;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: .2rem;
    margin-top: .5rem;
}

.button-spec:hover[b-zhnvbgz66g] {
    background-color:#34D399;
    color: #fff;
}


.button-spec[b-zhnvbgz66g] {
    background-color:#059669;
    color: #fff;

}
