/*

light grey :#9CA3AF
dark grey: #111827
light Indigo: #A5B4FC
dark Indigo: #1E40AF
*/

/* Header section*/
*[b-9r1eiim46e] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header[b-9r1eiim46e] {

    height: 90vh;
    background-image: linear-gradient(to right bottom,
    rgba(156, 163, 175, 0.8),
    rgba(17, 24, 39, 0.8)), url("images/employee.jpg");

    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-primary[b-9r1eiim46e] {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    backface-visibility: hidden;

}

.box[b-9r1eiim46e] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    top: 30%;
}


.heading-primary-main[b-9r1eiim46e] {
    display: block;
    font-size: 4rem;
    letter-spacing: .3rem;
    margin-bottom: 1rem;
    animation: moveInTop-b-9r1eiim46e 2s ease-in-out;

}

.heading-primary-sub[b-9r1eiim46e] {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .6rem;
    text-align: center;

    animation: moveInButton-b-9r1eiim46e 2s ease-in-out;
}

@Keyframes moveInTop-b-9r1eiim46e {
    0% {
        apacity: 0;
        transform: translateY(-100px);
    }
    8% {
        transform: translateY(1rem);
    }
    100% {
        apacity: 1;
        transform: translateY(0);
    }
}

@Keyframes moveInButton-b-9r1eiim46e {
    0% {
        apacity: 0;
        transform: translateY(100px);
    }
    8% {
        transform: translateY(-.5rem);
    }
    100% {
        apacity: 1;
        transform: translateY(0);
    }
}

.box-buttons[b-9r1eiim46e]{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-self: center;
    justify-self: end;
    margin-top: 4rem;
   animation: moveInButton-b-9r1eiim46e 2s ease-in-out;
}

.button:link[b-9r1eiim46e], .btn:visited[b-9r1eiim46e]{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    margin-left: 2rem;
    border-radius: 100px;
    transition: all, .2s;
    
}

.button-white:hover[b-9r1eiim46e]{
    background-color: rgba(17, 24, 39, 0.47);
    color: #fff;
}


.button-white[b-9r1eiim46e]{
    background-color: #ffffff;
    color: #777;
}

/*Learn More section*/

.learn-more[b-9r1eiim46e]{
    margin-top: 3rem;
    height: 50vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.learn-more-header[b-9r1eiim46e]{
    align-self: center;
}

.learn-more-content[b-9r1eiim46e]{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.learn-more-child[b-9r1eiim46e]{
    padding: 2rem;
}


h2[b-9r1eiim46e] {
    margin-bottom: 4rem;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    text-transform: uppercase;
}

.features-title[b-9r1eiim46e] {
    text-align: center;
    margin-bottom: 16px;
    font-size: 20px;
}

.features-text[b-9r1eiim46e] {
    text-align: center;
    font-size: 18px;
    line-height: 1.7;
}