.main[b-yejqgnzrbs]{
    height: 90%;
    display: flex;
    justify-content: center;
}

.main h1[b-yejqgnzrbs]{
    color: white;
    font-size: 3.2rem;
    font-weight: 400;
    font-family: Helvetica, sans-serif;

}
 
.main h2[b-yejqgnzrbs], h3[b-yejqgnzrbs]{
    color: white;
    font-size: 1.7rem;
    font-weight: 400;
}

.main_header[b-yejqgnzrbs]{
    align-self: center;
}
.main_logged[b-yejqgnzrbs]{
    align-self:  start;
}