@page "/CalendarView"


<div class="content">
    <ShiftEmployeeNavSide/>
    <main class="content-view">
        <h1>Manage Shift</h1>
        <SfCalendar TValue="DateTime"></SfCalendar>
    </main>
</div>

@code {

}