<nav class="sidebar">
    <ul class="side-nav">
        <li class="nav-item">
            <NavLink href="MyShifts" class="side-nav__link">
                <svg class="side-nav__icon">
                    <use xlink:href="images/sprite.svg#icon-home"></use>
                </svg>
                <span>Dashboard</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="AllAvailableShifts" class="side-nav__link">
                <svg class="side-nav__icon">
                    <use xlink:href="images/sprite.svg#icon-home"></use>
                </svg>
                <span>Shifts</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="#" class="side-nav__link">
                <svg class="side-nav__icon">
                    <use xlink:href="images/sprite.svg#icon-bookmark"></use>
                </svg>
                <span>My shifts</span>
            </NavLink>
        </li>
    </ul>
</nav>

@code {

}