@import '';

/* _content/BlazorSep3/Pages/Admin/ManageEmployee/AddEmployee.razor.rz.scp.css */
.content[b-ojg9t56vmu] {
    display: flex;
    height: 91vh;
}

/******
Content view 
*******/

.content-view[b-ojg9t56vmu] {
    background-color: #fff;
    flex: 1;
}


.form[b-ojg9t56vmu] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88vh;
    background-color: #F3F4F6;
    padding: 2rem;
}

.form_parts[b-ojg9t56vmu]{
    margin-top: 2rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px dashed black;
    padding: 1rem;
}

.form__group[b-ojg9t56vmu]{
    display: flex;
    align-items: start;
}
.form__group span[b-ojg9t56vmu]{
    margin-right: 1rem;
}

.form__group:not(:last-child)[b-ojg9t56vmu] {
    margin-bottom: 1rem;
}
.error-message[b-ojg9t56vmu]{
    color: red;
}
.icon[b-ojg9t56vmu]{
    height: 1rem;
    margin-top: 0.2rem;
}

.form__input[b-ojg9t56vmu] {
    font-size: 1.2rem;
    padding: 1.2rem 1.2rem;
    border-radius: 1.5px;
    background-color: rbga(#fff, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 30rem;
    display: block;
    transition: all .3s;
    height: 1.7rem;
}
.form__input_select[b-ojg9t56vmu] {
    font-size: 1.2rem;
    border-radius: 1px;
    background-color: rbga(#fff, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 30rem;
    display: block;
    transition: all .3s;
    height: 1.7rem;

}

.form__input_select:focus[b-ojg9t56vmu] {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a;
}

.form__input:focus[b-ojg9t56vmu] {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a;
}

.form__input:focus:invalid[b-ojg9t56vmu] {

    border-bottom: 3px solid #ff7730;
}

.form__input[b-ojg9t56vmu]::-webkit-input-placeholder {
    color: #999;
}


.form__label[b-ojg9t56vmu] {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    display: block;
    transition: all .3s;
}


/*.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}*/


.form-header[b-ojg9t56vmu] {
    justify-self: center;
    margin-bottom: 2rem;
}

.form-header h2[b-ojg9t56vmu]{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2rem;
}


.button-white[b-ojg9t56vmu] {
    text-transform: uppercase;
    padding: .4rem 2rem;
    margin-left: 2rem;
    border-radius: 100px;
    transition: all, .2s;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .2rem;
}

.button-white:hover[b-ojg9t56vmu] {
    background-color:#34D399;
    color: #fff;
}


.button-white[b-ojg9t56vmu] {
    background-color:#059669;
    color: #fff;

}
/* _content/BlazorSep3/Pages/Admin/ManageEmployee/EmployeeSideNav.razor.rz.scp.css */
.sidebar[b-1q63xrc06v] {
    flex: 0 0 18% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    background-color: #333;
}

.side-nav[b-1q63xrc06v] {
    font-size: 1.2rem;
    list-style: none;
    padding: 0;
}

.side-nav__item[b-1q63xrc06v] {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #eb2f64;
    transform: scaleY(0);
    transition: transform .2s,
    width .4s cubic-bezier(1, 0, 0, 1) .2s,
    background-color .1s;
}

.nav-item:first-of-type[b-1q63xrc06v] {
    padding-top: 3.5rem;
}

.nav-item[b-1q63xrc06v] {
}

.nav-item:last-of-type[b-1q63xrc06v] {
    padding-bottom: 1rem;
}

.nav-item[b-1q63xrc06v]  a {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7rem;
    color: #faf9f9;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 1.5rem;
    margin-bottom: .3rem;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: start;
}

.nav-item[b-1q63xrc06v]  a.active {
    background-color: #FF3366;

}

.nav-item[b-1q63xrc06v]  a:hover {
    background-color: #FF3366;

}


.side-nav__icon[b-1q63xrc06v] {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
}
/* _content/BlazorSep3/Pages/Admin/ManageEmployee/ManageEmployee.razor.rz.scp.css */
.content[b-z05fls7e57] {
    display: flex;
    height: 91vh;
}

/******
Content view 
*******/

.content-view[b-z05fls7e57] {
    background-color: #fff;
    flex: 1;
}





/* _content/BlazorSep3/Pages/Admin/ManageEmployee/ViewAllAccount.razor.rz.scp.css */
.content[b-i1oonn7s1f] {
    display: flex;
    height: 91vh;
}

/******
Content view 
*******/

.content-view[b-i1oonn7s1f] {
    background-color: #fff;
    flex: 1;
}

.form[b-i1oonn7s1f] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88vh;
    background-color: #F3F4F6;
    padding: 2rem;
}

.form_parts[b-i1oonn7s1f]{
    margin-top: 2rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px dashed black;
    padding: 1rem;
}

.form__group[b-i1oonn7s1f]{
    display: flex;
    align-items: start;
}
.form__group span[b-i1oonn7s1f]{
    margin-right: 1rem;
}

.form__group:not(:last-child)[b-i1oonn7s1f] {
    margin-bottom: 1rem;
}
.error-message[b-i1oonn7s1f]{
    color: red;
}
.icon[b-i1oonn7s1f]{
    height: 1rem;
    margin-top: 0.2rem;
}

.form__account[b-i1oonn7s1f] {
    font-size: 1rem;
    font-weight: 900;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    display: inline;
    transition: all .3s;
}

.form__label[b-i1oonn7s1f] {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    display: inline;
    transition: all .3s;
}


/*.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}*/


.form-header[b-i1oonn7s1f] {
    justify-self: center;
    margin-bottom: 2rem;
}

.form-header h2[b-i1oonn7s1f]{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2rem;
}


.search_button[b-i1oonn7s1f] {
    text-transform: uppercase;
    padding: .4rem 2rem;
    margin-left: 2rem;
    border-radius: 100px;
    transition: all, .2s;
    font-size: 1.0rem;
    font-weight: 400;
    letter-spacing: .2rem;
}


.search_button:hover[b-i1oonn7s1f] {
    transition: all, .2s;
    background-color:#E5E7EB;
    color: #333;
}


.search_input:focus[b-i1oonn7s1f] {
    outline: none;
}

/* _content/BlazorSep3/Pages/Admin/ManageEmployee/ViewAllProfile.razor.rz.scp.css */
.content[b-dpmqsdio88] {
    display: flex;
    height: 91vh;
}

/******
Content view 
*******/

.content-view[b-dpmqsdio88] {
    background-color: #fff;
    flex: 1;
}

.filter_option[b-dpmqsdio88]{
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    height: 6rem;
    padding: 2rem 1rem;
    border-bottom: 3px solid #E5E7EB;
    margin: 1rem 0rem;
}

.form__group_search[b-dpmqsdio88]{
    display: flex;

}

.search_input[b-dpmqsdio88] {
    transition: all, .2s;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .1rem;
    color: #333;
    background-color: #fff;
    border: none;
    padding: .4rem 1.2rem;
    border-radius: 10px;
    width: 80%;
}

.button-spec[b-dpmqsdio88] {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .1rem;
    color: #333;
    background-color: #E5E7EB;
    border: none;
    padding: .4rem .8rem;
    border-radius: 10px;
}


.button-spec:hover[b-dpmqsdio88] {
    background-color:#D97706;
    color: #fff;
}

.search_input:focus[b-dpmqsdio88] {
    outline: none;
    width: 82%;
    background-color: #fff;
}

.search_input[b-dpmqsdio88]::-webkit-input-placeholder {
    font-weight: 100;
    color: #D97706;
}



.search_input:focus[b-dpmqsdio88] {
    border-bottom: 1px solid #D97706;
}


.search_button[b-dpmqsdio88] {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .1rem;
    color: #333;
    background-color: #fff;
    border: none;
    padding: .4rem .8rem;
    border-radius: 10px;
    width: 30%;
    margin-left: 1px;
}


.search_button:hover[b-dpmqsdio88] {
    transition: all, .2s;
    background-color:#E5E7EB;
    color: #333;
}


.search_input:focus[b-dpmqsdio88] {
    outline: none;
}


.search_input:active[b-dpmqsdio88] {
    transform: translateY(2px);
}


.form__group-title[b-dpmqsdio88]{
    display: flex;
}


.icon[b-dpmqsdio88]{
    height: .8rem;
    margin-top: 0.2rem;
}

.form__input[b-dpmqsdio88] {
    font-size: 1rem;
    padding: 1rem 1rem;
    border-radius: 1.5px;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid transparent;
    width: 12rem;
    display: inline-block;
    transition: all .3s;
    height: 1.2rem;
    color: #D97706;
}

.form__input_select[b-dpmqsdio88] {
    font-size: 1rem;
    border-radius: 1.5px;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid transparent;
    width: 10rem;
    display: inline-block;
    transition: all .3s;
    height: 1.4rem;
    color: #D97706;


}

.form__input:focus[b-dpmqsdio88] {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #55c57a;
}

.form__input:focus:invalid[b-dpmqsdio88] {

    border-bottom: 2px solid #ff7730;
}


.form__group-title span[b-dpmqsdio88]{
    color: #333;
}

.form__label[b-dpmqsdio88] {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 0.2rem;
    transition: all .3s;
    color:#333;
}

/**
search content
**/

.search_result[b-dpmqsdio88]{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/* _content/BlazorSep3/Pages/Admin/ManageShift/AddShift.razor.rz.scp.css */
.content[b-4lgi0nl7bg] {
    display: flex;
    height: 91vh;
}

/******
Content view 
*******/
header[b-4lgi0nl7bg]{
    height: 0.2rem;
}


.content-view[b-4lgi0nl7bg] {
    background-color: #fff;
    flex: 1;
}


.form[b-4lgi0nl7bg] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    background-color: #F3F4F6;
    padding: 2rem;
    margin-top: 0.2rem;
}
.form__group[b-4lgi0nl7bg]{
    display: flex;
    align-items: start;
}
.form__group span[b-4lgi0nl7bg]{
    margin-right: 1rem;
}

.form__group:not(:last-child)[b-4lgi0nl7bg] {
    margin-bottom: 1rem;
}
.error-message[b-4lgi0nl7bg]{
    color: red;
}
.specialty-message-message[b-4lgi0nl7bg]{
    color: green;
}

.icon[b-4lgi0nl7bg]{
    height: 1rem;
    margin-top: 0.2rem;
}

.form__input[b-4lgi0nl7bg] {
    font-size: 1.2rem;
    padding: 1.2rem 1.2rem;
    border-radius: 1.5px;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid transparent;
    width: 30rem;
    display: block;
    transition: all .3s;
    height: 1.7rem;
}
.form__input_select[b-4lgi0nl7bg] {
    font-size: 1.2rem;
    border-radius: 1px;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid transparent;
    width: 30rem;
    display: block;
    transition: all .3s;
    height: 1.7rem;

}

.form__input_select:focus[b-4lgi0nl7bg] {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #55c57a;
}

.form__input:focus[b-4lgi0nl7bg] {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #55c57a;
}

.form__input:focus:invalid[b-4lgi0nl7bg] {

    border-bottom: 2px solid #ff7730;
}

.form__input[b-4lgi0nl7bg]::-webkit-input-placeholder {
    color: #999;
}


.form__label[b-4lgi0nl7bg] {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    display: block;
    transition: all .3s;
}


/*.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}*/


.form-header[b-4lgi0nl7bg] {
    justify-self: center;
    margin-bottom: 0.5rem;
}

.form-header h2[b-4lgi0nl7bg]{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2rem;
}


.button-white[b-4lgi0nl7bg] {
    text-transform: uppercase;
    padding: .4rem 2rem;
    margin-left: 2rem;
    border-radius: 100px;
    transition: all, .2s;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .2rem;
}


.button-white:hover[b-4lgi0nl7bg] {
    background-color:#34D399;
    color: #fff;
}


.button-white[b-4lgi0nl7bg] {
    background-color:#059669;
    color: #fff;

}

.button-spec[b-4lgi0nl7bg] {
    text-transform: uppercase;
    padding: 0.4rem 0.3rem;
    border-radius: 40px;
    transition: all, .2s;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: .2rem;
    margin-top: .5rem;
}

.button-spec:hover[b-4lgi0nl7bg] {
    background-color:#34D399;
    color: #fff;
}


.button-spec[b-4lgi0nl7bg] {
    background-color:#059669;
    color: #fff;

}
/* _content/BlazorSep3/Pages/Admin/ManageShift/AllShifts.razor.rz.scp.css */
.content[b-xhwi1krbk2] {
    display: flex;
    height: 91vh;
}

/******
Content view 
*******/

.content-view[b-xhwi1krbk2] {
    background-color: #fff;
    flex: 1;
}

.filter_option[b-xhwi1krbk2]{
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    height: 6rem;
    padding: 2rem 1rem;
    border-bottom: 3px solid #E5E7EB;
    margin: 1rem 0rem;
}

.form__group_search[b-xhwi1krbk2]{
    display: flex;
    
}

.search_input[b-xhwi1krbk2] {
    transition: all, .2s;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .1rem;
    color: #333;
    background-color: #fff;
    border: none;
    padding: .4rem 1.2rem;
    border-radius: 10px;
    width: 80%;
}

.button-spec[b-xhwi1krbk2] {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .1rem;
    color: #333;
    background-color: #E5E7EB;
    border: none;
    padding: .4rem .8rem;
    border-radius: 10px;
}


.button-spec:hover[b-xhwi1krbk2] {
    background-color:#D97706;
    color: #fff;
}

.search_input:focus[b-xhwi1krbk2] {
     outline: none;
     width: 82%;
     background-color: #fff;
 }

.search_input[b-xhwi1krbk2]::-webkit-input-placeholder {
     font-weight: 100;
     color: #D97706;
 }



.search_input:focus[b-xhwi1krbk2] {
    border-bottom: 1px solid #D97706;
 }


.search_button[b-xhwi1krbk2] {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .1rem;
    color: #333;
    background-color: #fff;
    border: none;
    padding: .4rem .8rem;
    border-radius: 10px;
    width: 30%;
    margin-left: 1px;
}


.search_button:hover[b-xhwi1krbk2] {
    transition: all, .2s;
    background-color:#E5E7EB;
    color: #333;
}


.search_input:focus[b-xhwi1krbk2] {
     outline: none;
 }


.search_input:active[b-xhwi1krbk2] {
     transform: translateY(2px);
 }


.form__group-title[b-xhwi1krbk2]{
    display: flex;
}


.icon[b-xhwi1krbk2]{
    height: .8rem;
    margin-top: 0.2rem;
}

.form__input[b-xhwi1krbk2] {
    font-size: 1rem;
    padding: 1rem 1rem;
    border-radius: 1.5px;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid transparent;
    width: 12rem;
    display: inline-block;
    transition: all .3s;
    height: 1.2rem;
    color: #D97706;
}

.form__input_select[b-xhwi1krbk2] {
    font-size: 1rem;
    border-radius: 1.5px;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid transparent;
    width: 8rem;
    display: inline-block;
    transition: all .3s;
    height: 1.2rem;
    color: #D97706;


}

.form__input:focus[b-xhwi1krbk2] {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #55c57a;
}

.form__input:focus:invalid[b-xhwi1krbk2] {

    border-bottom: 2px solid #ff7730;
}


.form__group-title span[b-xhwi1krbk2]{
    color: #333;
}

.form__label[b-xhwi1krbk2] {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 0.2rem;
    transition: all .3s;
    color:#333;
}

/**
search content
**/

.search_result[b-xhwi1krbk2]{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/* _content/BlazorSep3/Pages/Admin/ManageShift/EditShiftComponent.razor.rz.scp.css */
.content[b-m57y67cx57] {
    display: flex;
    height: 91vh;
}

/******
Content view 
*******/
header[b-m57y67cx57]{
    height: 0.2rem;
}


.content-view[b-m57y67cx57] {
    background-color: #fff;
    flex: 1;
}


.form[b-m57y67cx57] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    background-color: #F3F4F6;
    padding: 2rem;
    margin-top: 0.2rem;
}
.form__group[b-m57y67cx57]{
    display: flex;
    align-items: start;
}
.form__group span[b-m57y67cx57]{
    margin-right: 1rem;
}

.form__group:not(:last-child)[b-m57y67cx57] {
    margin-bottom: 1rem;
}
.error-message[b-m57y67cx57]{
    color: red;
}
.specialty-message-message[b-m57y67cx57]{
    color: green;
}

.icon[b-m57y67cx57]{
    height: 1rem;
    margin-top: 0.2rem;
}

.form__input[b-m57y67cx57] {
    font-size: 1.2rem;
    padding: 1.2rem 1.2rem;
    border-radius: 1.5px;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid transparent;
    width: 30rem;
    display: block;
    transition: all .3s;
    height: 1.7rem;
}
.form__input_select[b-m57y67cx57] {
    font-size: 1.2rem;
    border-radius: 1px;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid transparent;
    width: 30rem;
    display: block;
    transition: all .3s;
    height: 1.7rem;

}

.form__input_select:focus[b-m57y67cx57] {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #55c57a;
}

.form__input:focus[b-m57y67cx57] {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #55c57a;
}

.form__input:focus:invalid[b-m57y67cx57] {

    border-bottom: 2px solid #ff7730;
}

.form__input[b-m57y67cx57]::-webkit-input-placeholder {
    color: #999;
}


.form__label[b-m57y67cx57] {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    display: block;
    transition: all .3s;
}


/*.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}*/


.form-header[b-m57y67cx57] {
    justify-self: center;
    margin-bottom: 0.5rem;
}

.form-header h2[b-m57y67cx57]{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2rem;
}


.button-white[b-m57y67cx57] {
    text-transform: uppercase;
    padding: .4rem 2rem;
    margin-left: 2rem;
    border-radius: 100px;
    transition: all, .2s;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .2rem;
}


.button-white:hover[b-m57y67cx57] {
    background-color:#34D399;
    color: #fff;
}


.button-white[b-m57y67cx57] {
    background-color:#059669;
    color: #fff;

}

.button-spec[b-m57y67cx57] {
    text-transform: uppercase;
    padding: 0.4rem 0.3rem;
    border-radius: 40px;
    transition: all, .2s;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: .2rem;
    margin-top: .5rem;
}

.button-spec:hover[b-m57y67cx57] {
    background-color:#34D399;
    color: #fff;
}


.button-spec[b-m57y67cx57] {
    background-color:#059669;
    color: #fff;

}
/* _content/BlazorSep3/Pages/Admin/ManageShift/ManageShift.razor.rz.scp.css */
.content[b-l90yhd42li] {
    display: flex;
    height: 91vh;
}

/******
Content view 
*******/

.content-view[b-l90yhd42li] {
    background-color: #fff;
    flex: 1;
}
/* _content/BlazorSep3/Pages/Admin/ManageShift/ShiftNavSide.razor.rz.scp.css */
.sidebar[b-x4axjtmepz] {
    flex: 0 0 18% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    background-color: #333;
}

.side-nav[b-x4axjtmepz] {
    font-size: 1.2rem;
    list-style: none;
    padding: 0;
}

.side-nav__item[b-x4axjtmepz] {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #eb2f64;
    transform: scaleY(0);
    transition: transform .2s,
    width .4s cubic-bezier(1, 0, 0, 1) .2s,
    background-color .1s;
}

.nav-item:first-of-type[b-x4axjtmepz] {
    padding-top: 3.5rem;
}

.nav-item[b-x4axjtmepz] {
}

.nav-item:last-of-type[b-x4axjtmepz] {
    padding-bottom: 1rem;
}

.nav-item[b-x4axjtmepz]  a {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7rem;
    color: #faf9f9;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 1.5rem;
    margin-bottom: .3rem;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: start;
}

.nav-item[b-x4axjtmepz]  a.active {
    background-color: #FF3366;

}

.nav-item[b-x4axjtmepz]  a:hover {
    background-color: #FF3366;

}


.side-nav__icon[b-x4axjtmepz] {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
}
/* _content/BlazorSep3/Pages/Admin/ManageTask/AddTask.razor.rz.scp.css */
.content[b-f5ypzovfwh] {
    display: flex;
    height: 91vh;
}

/******
Content view 
*******/
header[b-f5ypzovfwh]{
    height: 0.2rem;
}


.content-view[b-f5ypzovfwh] {
    background-color: #fff;
    flex: 1;
}


.form[b-f5ypzovfwh] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    background-color: #F3F4F6;
    padding: 2rem;
    margin-top: 0.2rem;
}
.form_parts[b-f5ypzovfwh]{
    margin-top: 2rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px dashed black;
    padding: 1rem;
    margin-bottom: 1rem;
}
.form__group[b-f5ypzovfwh]{
    display: flex;
    align-items: start;
}
.form__group span[b-f5ypzovfwh]{
    margin-right: 1rem;
}

.form__group:not(:last-child)[b-f5ypzovfwh] {
    margin-bottom: 1rem;
}
.error-message[b-f5ypzovfwh]{
    color: red;
}
.specialty-message-message[b-f5ypzovfwh]{
    color: green;
}

.icon[b-f5ypzovfwh]{
    height: 1rem;
    margin-top: 0.2rem;
}

.form__input[b-f5ypzovfwh] {
    font-size: 1.2rem;
    padding: 1.2rem 1.2rem;
    border-radius: 1.5px;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid transparent;
    width: 30rem;
    display: block;
    transition: all .3s;
    height: 1.7rem;
}
.form__input_select[b-f5ypzovfwh] {
    font-size: 1.2rem;
    border-radius: 1px;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid transparent;
    width: 30rem;
    display: block;
    transition: all .3s;
    height: 1.7rem;

}

.form__input_select:focus[b-f5ypzovfwh] {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #55c57a;
}

.form__input:focus[b-f5ypzovfwh] {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #55c57a;
}

.form__input:focus:invalid[b-f5ypzovfwh] {

    border-bottom: 2px solid #ff7730;
}

.form__input[b-f5ypzovfwh]::-webkit-input-placeholder {
    color: #999;
}


.form__label[b-f5ypzovfwh] {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    display: block;
    transition: all .3s;
}


/*.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}*/


.form-header[b-f5ypzovfwh] {
    justify-self: center;
    margin-bottom: 0.5rem;
}

.form-header h2[b-f5ypzovfwh]{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2rem;
}


.button-white[b-f5ypzovfwh] {
    text-transform: uppercase;
    padding: .4rem 2rem;
    margin-left: 2rem;
    border-radius: 100px;
    transition: all, .2s;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .2rem;
}


.button-white:hover[b-f5ypzovfwh] {
    background-color:#34D399;
    color: #fff;
}


.button-white[b-f5ypzovfwh] {
    background-color:#059669;
    color: #fff;

}

.button-spec[b-f5ypzovfwh] {
    text-transform: uppercase;
    padding: 0.4rem 0.3rem;
    border-radius: 40px;
    transition: all, .2s;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: .2rem;
    margin-top: .5rem;
}

.button-spec:hover[b-f5ypzovfwh] {
    background-color:#34D399;
    color: #fff;
}


.button-spec[b-f5ypzovfwh] {
    background-color:#059669;
    color: #fff;

}
/* _content/BlazorSep3/Pages/Admin/ManageTask/ManageTask.razor.rz.scp.css */
.content[b-l29e9n9pv8] {
    display: flex;
    height: 91vh;
}

/******
Content view 
*******/

.content-view[b-l29e9n9pv8] {
    background-color: #fff;
    flex: 1;
}
/* _content/BlazorSep3/Pages/Admin/ManageTask/TaskNavSide.razor.rz.scp.css */
.sidebar[b-nn8520mob5] {
    flex: 0 0 18% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    background-color: #333;
}

.side-nav[b-nn8520mob5] {
    font-size: 1.2rem;
    list-style: none;
    padding: 0;
}

.side-nav__item[b-nn8520mob5] {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
}

.nav-item:first-of-type[b-nn8520mob5] {
    padding-top: 3.5rem;
}


.nav-item:last-of-type[b-nn8520mob5] {
    padding-bottom: 1rem;
}

.nav-item[b-nn8520mob5]  a {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7rem;
    color: #faf9f9;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 1.5rem;
    margin-bottom: .3rem;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: start;
}

.nav-item[b-nn8520mob5]  a.active {
    background-color: #FF3366;

}

.nav-item[b-nn8520mob5]  a:hover {
    background-color: #FF3366;

}


.side-nav__icon[b-nn8520mob5] {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
}
/* _content/BlazorSep3/Pages/Admin/ManageTask/ViewAllTasks.razor.rz.scp.css */
.content[b-wq3yo770wm] {
    display: flex;
    height: 91vh;
}

/******
Content view 
*******/

.content-view[b-wq3yo770wm] {
    background-color: #fff;
    flex: 1;
}

.filter_option[b-wq3yo770wm]{
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    height: 6rem;
    padding: 2rem 1rem;
    border-bottom: 3px solid #E5E7EB;
    margin: 1rem 1rem 0rem 1rem;
}

.form__group_search[b-wq3yo770wm]{
    display: flex;
    
}

.search_input[b-wq3yo770wm] {
    transition: all, .2s;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .1rem;
    color: #333;
    background-color: #fff;
    border: none;
    padding: .4rem 1.2rem;
    border-radius: 10px;
    width: 80%;
}

.button-spec[b-wq3yo770wm] {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .1rem;
    color: #333;
    background-color: #E5E7EB;
    border: none;
    padding: .4rem .8rem;
    border-radius: 10px;
}


.button-spec:hover[b-wq3yo770wm] {
    background-color:#D97706;
    color: #fff;
}

.search_input:focus[b-wq3yo770wm] {
     outline: none;
     width: 82%;
     background-color: #fff;
 }

.search_input[b-wq3yo770wm]::-webkit-input-placeholder {
     font-weight: 100;
     color: #D97706;
 }



.search_input:focus[b-wq3yo770wm] {
    border-bottom: 1px solid #D97706;
 }


.search_button[b-wq3yo770wm] {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .1rem;
    color: #333;
    background-color: #fff;
    border: none;
    padding: .4rem .8rem;
    border-radius: 10px;
    width: 30%;
    margin-left: 1px;
}


.search_button:hover[b-wq3yo770wm] {
    transition: all, .2s;
    background-color:#E5E7EB;
    color: #333;
}


.search_input:focus[b-wq3yo770wm] {
     outline: none;
 }


.search_input:active[b-wq3yo770wm] {
     transform: translateY(2px);
 }


.form__group-title[b-wq3yo770wm]{
    display: flex;
}


.icon[b-wq3yo770wm]{
    height: .8rem;
    margin-top: 0.2rem;
}

.form__input[b-wq3yo770wm] {
    font-size: 1rem;
    padding: 1rem 1rem;
    border-radius: 1.5px;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid transparent;
    width: 12rem;
    display: inline-block;
    transition: all .3s;
    height: 1.2rem;
    color: #D97706;
}

.form__input_select[b-wq3yo770wm] {
    font-size: 1rem;
    border-radius: 1.5px;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid transparent;
    width: 8rem;
    display: inline-block;
    transition: all .3s;
    height: 1.2rem;
    color: #D97706;


}

.form__input:focus[b-wq3yo770wm] {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #55c57a;
}

.form__input:focus:invalid[b-wq3yo770wm] {

    border-bottom: 2px solid #ff7730;
}


.form__group-title span[b-wq3yo770wm]{
    color: #333;
}

.form__label[b-wq3yo770wm] {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 0.2rem;
    transition: all .3s;
    color:#333;
}

/**
search content
**/

.search_result[b-wq3yo770wm]{
    display: flex;
    justify-content: center;
    margin: 0 1rem;
    overflow: auto;
    height: 76vh;
}
/*.header{
    position: sticky;
    top: 0;
}*/


/* _content/BlazorSep3/Pages/Full-time/AllAvailableTasks.razor.rz.scp.css */
.content[b-c3k7vppjaw] {
    display: flex;
    height: 91vh;
}

/******
Content view 
*******/

.content-view[b-c3k7vppjaw] {
    background-color: #fff;
    flex: 1;
}

.filter_option[b-c3k7vppjaw]{
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    height: 6rem;
    padding: 2rem 1rem;
    border-bottom: 3px solid #E5E7EB;
    margin: 1rem 0rem;
}

.form__group_search[b-c3k7vppjaw]{
    display: flex;
    
}

.search_input[b-c3k7vppjaw] {
    transition: all, .2s;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .1rem;
    color: #333;
    background-color: #fff;
    border: none;
    padding: .4rem 1.2rem;
    border-radius: 10px;
    width: 80%;
}

.button-spec[b-c3k7vppjaw] {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .1rem;
    color: #333;
    background-color: #E5E7EB;
    border: none;
    padding: .4rem .8rem;
    border-radius: 10px;
}


.button-spec:hover[b-c3k7vppjaw] {
    background-color:#D97706;
    color: #fff;
}

.search_input:focus[b-c3k7vppjaw] {
     outline: none;
     width: 82%;
     background-color: #fff;
 }

.search_input[b-c3k7vppjaw]::-webkit-input-placeholder {
     font-weight: 100;
     color: #D97706;
 }



.search_input:focus[b-c3k7vppjaw] {
    border-bottom: 1px solid #D97706;
 }


.search_button[b-c3k7vppjaw] {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .1rem;
    color: #333;
    background-color: #fff;
    border: none;
    padding: .4rem .8rem;
    border-radius: 10px;
    width: 30%;
    margin-left: 1px;
}


.search_button:hover[b-c3k7vppjaw] {
    transition: all, .2s;
    background-color:#E5E7EB;
    color: #333;
}


.search_input:focus[b-c3k7vppjaw] {
     outline: none;
 }


.search_input:active[b-c3k7vppjaw] {
     transform: translateY(2px);
 }


.form__group-title[b-c3k7vppjaw]{
    display: flex;
}


.icon[b-c3k7vppjaw]{
    height: .8rem;
    margin-top: 0.2rem;
}

.form__input[b-c3k7vppjaw] {
    font-size: 1rem;
    padding: 1rem 1rem;
    border-radius: 1.5px;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid transparent;
    width: 12rem;
    display: inline-block;
    transition: all .3s;
    height: 1.2rem;
    color: #D97706;
}

.form__input_select[b-c3k7vppjaw] {
    font-size: 1rem;
    border-radius: 1.5px;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid transparent;
    width: 8rem;
    display: inline-block;
    transition: all .3s;
    height: 1.2rem;
    color: #D97706;


}

.form__input:focus[b-c3k7vppjaw] {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #55c57a;
}

.form__input:focus:invalid[b-c3k7vppjaw] {

    border-bottom: 2px solid #ff7730;
}


.form__group-title span[b-c3k7vppjaw]{
    color: #333;
}

.form__label[b-c3k7vppjaw] {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 0.2rem;
    transition: all .3s;
    color:#333;
}

/**
search content
**/

.search_result[b-c3k7vppjaw]{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/* _content/BlazorSep3/Pages/Full-time/MyTasks.razor.rz.scp.css */
.content[b-zjodemoi42] {
    display: flex;
    height: 91vh;
}

/******
Content view 
*******/

.content-view[b-zjodemoi42] {
    background-color: #fff;
    flex: 1;
}
/* _content/BlazorSep3/Pages/Full-time/TakeTask.razor.rz.scp.css */
.content[b-t0faqudlp8] {
    display: flex;
    height: 91vh;
}

/******
Content view 
*******/

.content-view[b-t0faqudlp8] {
    background-color: #fff;
    flex: 1;
}
/* _content/BlazorSep3/Pages/Full-time/TaskEmployeeNavSide.razor.rz.scp.css */
.sidebar[b-8tgow1bjo0] {
    flex: 0 0 18% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    background-color: #333;
}

.side-nav[b-8tgow1bjo0] {
    font-size: 1.2rem;
    list-style: none;
    padding: 0;
}

.side-nav__item[b-8tgow1bjo0] {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
}

.nav-item:first-of-type[b-8tgow1bjo0] {
    padding-top: 3.5rem;
}


.nav-item:last-of-type[b-8tgow1bjo0] {
    padding-bottom: 1rem;
}

.nav-item[b-8tgow1bjo0]  a {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7rem;
    color: #faf9f9;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 1.5rem;
    margin-bottom: .3rem;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: start;
}

.nav-item[b-8tgow1bjo0]  a.active {
    background-color: #FF3366;

}

.nav-item[b-8tgow1bjo0]  a:hover {
    background-color: #FF3366;

}


.side-nav__icon[b-8tgow1bjo0] {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
}
/* _content/BlazorSep3/Pages/Index.razor.rz.scp.css */
/*

light grey :#9CA3AF
dark grey: #111827
light Indigo: #A5B4FC
dark Indigo: #1E40AF
*/

/* Header section*/
*[b-9r1eiim46e] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header[b-9r1eiim46e] {

    height: 90vh;
    background-image: linear-gradient(to right bottom,
    rgba(156, 163, 175, 0.8),
    rgba(17, 24, 39, 0.8)), url("images/employee.jpg");

    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-primary[b-9r1eiim46e] {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    backface-visibility: hidden;

}

.box[b-9r1eiim46e] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    top: 30%;
}


.heading-primary-main[b-9r1eiim46e] {
    display: block;
    font-size: 4rem;
    letter-spacing: .3rem;
    margin-bottom: 1rem;
    animation: moveInTop-b-9r1eiim46e 2s ease-in-out;

}

.heading-primary-sub[b-9r1eiim46e] {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .6rem;
    text-align: center;

    animation: moveInButton-b-9r1eiim46e 2s ease-in-out;
}

@Keyframes moveInTop-b-9r1eiim46e {
    0% {
        apacity: 0;
        transform: translateY(-100px);
    }
    8% {
        transform: translateY(1rem);
    }
    100% {
        apacity: 1;
        transform: translateY(0);
    }
}

@Keyframes moveInButton-b-9r1eiim46e {
    0% {
        apacity: 0;
        transform: translateY(100px);
    }
    8% {
        transform: translateY(-.5rem);
    }
    100% {
        apacity: 1;
        transform: translateY(0);
    }
}

.box-buttons[b-9r1eiim46e]{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-self: center;
    justify-self: end;
    margin-top: 4rem;
   animation: moveInButton-b-9r1eiim46e 2s ease-in-out;
}

.button:link[b-9r1eiim46e], .btn:visited[b-9r1eiim46e]{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    margin-left: 2rem;
    border-radius: 100px;
    transition: all, .2s;
    
}

.button-white:hover[b-9r1eiim46e]{
    background-color: rgba(17, 24, 39, 0.47);
    color: #fff;
}


.button-white[b-9r1eiim46e]{
    background-color: #ffffff;
    color: #777;
}

/*Learn More section*/

.learn-more[b-9r1eiim46e]{
    margin-top: 3rem;
    height: 50vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.learn-more-header[b-9r1eiim46e]{
    align-self: center;
}

.learn-more-content[b-9r1eiim46e]{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.learn-more-child[b-9r1eiim46e]{
    padding: 2rem;
}


h2[b-9r1eiim46e] {
    margin-bottom: 4rem;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    text-transform: uppercase;
}

.features-title[b-9r1eiim46e] {
    text-align: center;
    margin-bottom: 16px;
    font-size: 20px;
}

.features-text[b-9r1eiim46e] {
    text-align: center;
    font-size: 18px;
    line-height: 1.7;
}
/* _content/BlazorSep3/Pages/Login.razor.rz.scp.css */

.form[b-nu0ng3xqlj] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88vh;
    background-color: #F3F4F6;
}

.form__group:not(:last-child)[b-nu0ng3xqlj] {
    margin-bottom: 1rem;
}
.error-message[b-nu0ng3xqlj]{
    color: red;
}

.form__input[b-nu0ng3xqlj] {
    font-size: 1.5rem;
    padding: 1.5rem 1.5rem;
    border-radius: 2px;
    background-color: rbga(#fff, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 30rem;
    display: block;
    transition: all .3s;
    height: 2.3rem;
}

.form__input:focus[b-nu0ng3xqlj] {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a;
}

.form__input:focus:invalid[b-nu0ng3xqlj] {

    border-bottom: 3px solid #ff7730;
}

.form__input[b-nu0ng3xqlj]::-webkit-input-placeholder {
    color: #999;
}


.form__label[b-nu0ng3xqlj] {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
}


.form__input:placeholder-shown + .form__label[b-nu0ng3xqlj] {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}


.form-header[b-nu0ng3xqlj] {
    justify-self: center;
    margin-bottom: 2rem;
}

.form-header h2[b-nu0ng3xqlj]{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2rem;
}


.button-white[b-nu0ng3xqlj] {
    text-transform: uppercase;
    padding: .4rem 2rem;
    margin-left: 2rem;
    border-radius: 100px;
    transition: all, .2s;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .2rem;
}

.button-white:hover[b-nu0ng3xqlj] {
    background-color:#34D399;
    color: #fff;
}


.button-white[b-nu0ng3xqlj] {
    background-color:#059669;
    color: #fff;

}
/* _content/BlazorSep3/Pages/Part-time/AllAvailableShifts.razor.rz.scp.css */
.content[b-l6lsa5bzzf] {
    display: flex;
    height: 91vh;
}

/******
Content view 
*******/

.content-view[b-l6lsa5bzzf] {
    background-color: #fff;
    flex: 1;
}

.filter_option[b-l6lsa5bzzf]{
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    height: 6rem;
    padding: 2rem 1rem;
    border-bottom: 3px solid #E5E7EB;
    margin: 1rem 0rem;
}

.form__group_search[b-l6lsa5bzzf]{
    display: flex;
    
}

.search_input[b-l6lsa5bzzf] {
    transition: all, .2s;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .1rem;
    color: #333;
    background-color: #fff;
    border: none;
    padding: .4rem 1.2rem;
    border-radius: 10px;
    width: 80%;
}

.button-spec[b-l6lsa5bzzf] {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .1rem;
    color: #333;
    background-color: #E5E7EB;
    border: none;
    padding: .4rem .8rem;
    border-radius: 10px;
}


.button-spec:hover[b-l6lsa5bzzf] {
    background-color:#D97706;
    color: #fff;
}

.search_input:focus[b-l6lsa5bzzf] {
     outline: none;
     width: 82%;
     background-color: #fff;
 }

.search_input[b-l6lsa5bzzf]::-webkit-input-placeholder {
     font-weight: 100;
     color: #D97706;
 }



.search_input:focus[b-l6lsa5bzzf] {
    border-bottom: 1px solid #D97706;
 }


.search_button[b-l6lsa5bzzf] {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .1rem;
    color: #333;
    background-color: #fff;
    border: none;
    padding: .4rem .8rem;
    border-radius: 10px;
    width: 30%;
    margin-left: 1px;
}


.search_button:hover[b-l6lsa5bzzf] {
    transition: all, .2s;
    background-color:#E5E7EB;
    color: #333;
}


.search_input:focus[b-l6lsa5bzzf] {
     outline: none;
 }


.search_input:active[b-l6lsa5bzzf] {
     transform: translateY(2px);
 }


.form__group-title[b-l6lsa5bzzf]{
    display: flex;
}


.icon[b-l6lsa5bzzf]{
    height: .8rem;
    margin-top: 0.2rem;
}

.form__input[b-l6lsa5bzzf] {
    font-size: 1rem;
    padding: 1rem 1rem;
    border-radius: 1.5px;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid transparent;
    width: 12rem;
    display: inline-block;
    transition: all .3s;
    height: 1.2rem;
    color: #D97706;
}

.form__input_select[b-l6lsa5bzzf] {
    font-size: 1rem;
    border-radius: 1.5px;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid transparent;
    width: 8rem;
    display: inline-block;
    transition: all .3s;
    height: 1.2rem;
    color: #D97706;


}

.form__input:focus[b-l6lsa5bzzf] {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #55c57a;
}

.form__input:focus:invalid[b-l6lsa5bzzf] {

    border-bottom: 2px solid #ff7730;
}


.form__group-title span[b-l6lsa5bzzf]{
    color: #333;
}

.form__label[b-l6lsa5bzzf] {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 0.2rem;
    transition: all .3s;
    color:#333;
}

/**
search content
**/

.search_result[b-l6lsa5bzzf]{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/* _content/BlazorSep3/Pages/Part-time/MyShifts.razor.rz.scp.css */
.content[b-wxl4r8ju4g] {
    display: flex;
    height: 91vh;
}

/******
Content view 
*******/

.content-view[b-wxl4r8ju4g] {
    background-color: #fff;
    flex: 1;
}
/* _content/BlazorSep3/Pages/Part-time/ShiftEmployeeNavSide.razor.rz.scp.css */
.sidebar[b-x61mjnei9v] {
    flex: 0 0 18% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    background-color: #333;
}

.side-nav[b-x61mjnei9v] {
    font-size: 1.2rem;
    list-style: none;
    padding: 0;
}

.side-nav__item[b-x61mjnei9v] {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #eb2f64;
    transform: scaleY(0);
    transition: transform .2s,
    width .4s cubic-bezier(1, 0, 0, 1) .2s,
    background-color .1s;
}

.nav-item:first-of-type[b-x61mjnei9v] {
    padding-top: 3.5rem;
}

.nav-item[b-x61mjnei9v] {
}

.nav-item:last-of-type[b-x61mjnei9v] {
    padding-bottom: 1rem;
}

.nav-item[b-x61mjnei9v]  a {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7rem;
    color: #faf9f9;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 1.5rem;
    margin-bottom: .3rem;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: start;
}

.nav-item[b-x61mjnei9v]  a.active {
    background-color: #FF3366;

}

.nav-item[b-x61mjnei9v]  a:hover {
    background-color: #FF3366;

}


.side-nav__icon[b-x61mjnei9v] {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
}
/* _content/BlazorSep3/Pages/Part-time/TakeShift.razor.rz.scp.css */
.content[b-rqzp6dah2l] {
    display: flex;
    height: 91vh;
}

/******
Content view 
*******/

.content-view[b-rqzp6dah2l] {
    background-color: #fff;
    flex: 1;
}
/* _content/BlazorSep3/Shared/MainLayout.razor.rz.scp.css */
.main[b-lr18gg4jnm]{
    
}
/* _content/BlazorSep3/Shared/NavMenu.razor.rz.scp.css */
/**************************/
/* HEADER */
/**************************/
.main[b-9bjcoxi6rp]{
    padding: 0rem 1.3rem;
}
.header[b-9bjcoxi6rp] {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #faf9f9;
    height: 4rem;
    padding: 0 4.8rem;
    box-shadow: -5px 9px 5px 0px rgba(0,0,0,.3);
    margin-bottom: .6rem;
    border-bottom-right-radius: 5px;
}

.logo[b-9bjcoxi6rp] {
    height: 2.3rem;
    border-radius: 100%
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list[b-9bjcoxi6rp] {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.main-nav-link:link[b-9bjcoxi6rp],
.main-nav-link:visited[b-9bjcoxi6rp] {
    display: inline-block;
    text-decoration: none;
    color:#333;
    font-weight: 500;
    font-size: 1.5rem;
    transition: all 0.3s;
}

.main-nav-link:hover[b-9bjcoxi6rp],
.main-nav-link:active[b-9bjcoxi6rp] {
   color:  #333;
    border-bottom: solid 2px #B45309
}

.main-nav-link.nav-cta:link[b-9bjcoxi6rp],
.main-nav-link.nav-cta:visited[b-9bjcoxi6rp] {
    margin-top: .2rem;
    padding: .5rem 1rem;
    border-radius: 9px;
    background-color: #ffffff;
    color: #333;
}

.main-nav-link.nav-cta[b-9bjcoxi6rp] {
    margin-top: .2rem;
    padding: .5rem 1rem;
    border-radius: 9px;
    background-color: #777;
    color:#fff;
    cursor: pointer;
    
}

.main-nav-link.nav-cta:hover[b-9bjcoxi6rp],
.main-nav-link.nav-cta:active[b-9bjcoxi6rp] {
    background-color: #333;
    color: #fff;
    cursor: pointer;

}

/* MOBILE */
.btn-mobile-nav[b-9bjcoxi6rp] {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.icon-mobile-nav[b-9bjcoxi6rp] {
    height: 3rem;
    width: 3rem;
    color: #333;
    
}

.icon-mobile-nav[name="close-outline"][b-9bjcoxi6rp] {
    display: none;
}





