*{
    
    background-image:  linear-gradient(to left bottom, rgb(10, 10, 10), rgba(0,0,255,0.5)), url('images/businessman-hand.jpg');
    
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}